@page {
  size: A4 landscape;
  /* size: A4; */
}

@page :left {
  margin: 2cm 3.5cm 2cm 3cm;
}

@page :right {
  margin: 2cm 3cm 2cm 3.5cm;
}

@page :first {
}

@page :blank {
  @top-center {
    content: 'This page is intentionally left blank.';
  }
}

@page: right {
  @bottom-left {
    margin: 10pt 0 30pt 0;
    border-top: 0.25pt solid #666;
    content: 'My book';
    font-size: 9pt;
    color: #333;
  }
}

body {
  margin: 0;
  color: #000;
  background-color: #fff;
}

* {
  font-family: 'Times New Roman', Times, serif;
  font-size: 13px;
}

.page-break {
  page-break-before: always;
}
